/* Estilização dos rótulos */
label {
  color: white;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.loterias-container,
.numero-jogos-container,
.cotas-container,
.quantidade-numeros-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Select */
select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1rem;
  margin: 0.5rem 0;
  text-align: center;
}

/* Inputs radio */
input[type='radio'] {
  accent-color: black;
  transform: scale(1.2);
  margin: 0.5rem;
}
