* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(25, 53, 114);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0.5rem;
  border: 4px solid rgb(250, 133, 0);
  border-radius: 4px;
}

/* Logo */
img {
  width: 60px;
}

/* Título */
h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.4rem;
  text-align: center;
  color: white;
  margin-bottom: 0.2rem;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: white;
  margin-bottom: 0.4rem;
}

/* Contêiner principal */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

button {
  background-color: white;
  color: rgb(25, 53, 114);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}

.resultado {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.resultado p {
  margin-bottom: 0.2rem;
}

.premiacoes {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
}

.botoes {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.4rem;
  width: 100%;
}

.botoes button {
  margin: 1rem;
}

.logo-baixo {
  width: 60px;
  height: 60px;
}

/* Responsividade para telas maiores */
@media (min-width: 768px) {
  .App {
    max-width: 600px;
  }

  h2 {
    font-size: 2rem;
  }

  img {
    width: 140px;
  }
}
